@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  background-image: url("./images/landing-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #282c34;
  opacity: 0.8;
  border-radius: 8px;
}

.welcometitle {
  font-family: "Amatic SC", cursive;
  font-size: 5em;
  margin: 20px 20px 0 20px;
}

.createaccountbtn {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #599bb3),
    color-stop(1, #408c99)
  );
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 200px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  margin: 10px;
}
.createaccountbtn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #408c99),
    color-stop(1, #599bb3)
  );
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color: #408c99;
}
.createaccountbtn:active {
  position: relative;
  top: 1px;
}

.loginbtn {
  -moz-box-shadow: 0px 10px 14px -7px #3dc21b;
  -webkit-box-shadow: 0px 10px 14px -7px #3dc21b;
  box-shadow: 0px 10px 14px -7px #3dc21b;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #44c767),
    color-stop(1, #5cbf2a)
  );
  background: -moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color: #44c767;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 200px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.loginbtn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #5cbf2a),
    color-stop(1, #44c767)
  );
  background: -moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color: #5cbf2a;
}
.loginbtn:active {
  position: relative;
  top: 1px;
}
.subtitle {
  font-family: "Amatic SC", cursive;
  margin: 0;
}

.entrybtn {
  margin: 15px;
}
